h1 {
    text-align: center;
}

/* main {
    display: grid;
    gap: 1em;
    justify-content: center;

} */

main img {
    display: block;
    height: auto;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}