div {
    margin: .25em;
}

label {
    display: inline-block;
    min-width: 130px;
	text-align: right;
}

.hidden {
	display: none;
}

/* start */
/* body {
	font-family: Roboto, Arial, sans-serif;
	margin: 1rem;
}

h1 {
	font-size: 1.75rem;
	color: navy;
	border-bottom: 1px solid #bbb;
}

hr {
	margin-bottom: 40px;
}

label {
	display: block;
	font-weight: 700;
}
*/

input {
	margin: 1rem;
	padding: 0.5em;
}
/*
#alpha:focus, #fruit:focus {
	background-color: #eee;
}

#alpha:valid, #fruit:valid {
	background-color: #bed;
}
#alpha:invalid, #alpha:invalid {
	background-color: #fff0f3;
	border: 1px solid red;
}
#alpha:invalid::before {
	content: "âŒ";
} */


#page-rating {
	width: 180px;
	margin-bottom: 0;
}

/* #range-value {
	font-size: 2rem;
	color: navy;
} */

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}



/* stars */
/* input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0);
}


.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}
*/

/* Checkbox *******************************************/
input[type=checkbox] {
	margin-left: 10px;
}
/* Note the enlargement from the standard, tiny checkbox */
#task {
	width: 25px;
	height: 25px;
}

.vcentered {
	display: flex;
	align-items: center;
}

/* other */
.inline {
	display: inline;
}

.ref {
	font-size: 13px;
	margin-top: 1rem;
}

input[type="email"]:required {
    border-left: 3px solid red;
}

input[type="email"]:required:valid {
    border-left: 3px solid green;
}